*{
    user-select: none;
}
/*Hero section styles starting*/
.defaultHeroClass,.propertiesHero{
    min-height: calc(100vh - 66px);
    background: url("/src/assets/Images/propertBG.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.propertiesHero{
    background: url("/src/assets/Images/Home_bg.jpg") center/cover no-repeat ;
    min-height: 70vh;
}
/*Hero section styles ending*/
/*Banner Styles Starting*/
.bannerArea{
    display: inline-block;
    background: rgba(0,0,0,0.8);
    color: #ffffff;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.bannerArea h1{
    font-size: 2.5rem;
}
.bannerArea div{
    width: 10rem;
    height: 5px;
    background-color: #B7CECF;
    margin: 1.7rem auto;
}
.bannerArea p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.banner-btn{
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #001C1F;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border: 3px solid #ffffff;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}
.banner-btn:hover{
    background: transparent;
    color: #ffffff;
}
/*Banner Styles Ending*/
/*Title bar styles starting*/
.title-section{
    text-align: center;
    margin-bottom: 4rem;
}
.title-section h3{
    font-size: 2rem;
    letter-spacing: 1.4px;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.title-section div{
    width: 6rem;
    height: 4px;
    margin: 0 auto;
    background-color: #002A2F;
}
/*Title bar styles ending*/

/*services area styles starting*/
.services-area{
    padding: 4rem 0;
    text-align: center;
}
.service-center-style{
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 30px;
}
.service span{
    display: inline-block;
    color: #002A2F;
    font-size: 2.5rem;
    margin-bottom: 1.4rem;
}
.service p{
    text-align: justify;
}
/*services area styles ending*/

/*properties styling starting*/
.special-display{
    display: grid !important;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 20px;
}
.special-display img{
    height: 250px;
    overflow: hidden;
    position: center;
}
/*properties styling ending*/
.favorite-btn{
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: #ffffff;
    background-color: #002A2F;
    padding: 0.5rem 0.4rem;
    border: 3px solid #002A2F;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}
.favorite-btn:hover{
    background: transparent;
    color: #002A2F;
}

/* featured properties */

.featured-properties {
    padding: 5rem 0;
    margin: 0 80px !important;
}
.featured-properties-center {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 2rem;
    justify-content: space-between;
    grid-column-gap: 70px;
    /*flex: 1;*/
}
@media screen and (min-width: 776px) {
    .featured-properties-center {
        width: 90vw;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
}
@media screen and (min-width: 992px) {
    .featured-properties-center {
        width: 95vw;
        max-width: 1170px;
    }
}
/* end pf featured rooms */

/*single property style start*/
.card-body-spcl{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*single property style end*/

/*styles for filtreing*/
.filter-container{
    display: inline-block;
    color: blanchedalmond;
    background: rgba(0,0,0,0.5);
    padding:5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -1000px;
    margin-left: 700px;
    margin-bottom: -1000px;
}
/*styles for filtreing*/

/*-----------------*/
/* Add some styling for the favorites section */
.favorit-outer{
    background: linear-gradient(to right, #464646, #6D6D6D, #BDBDBD) !important;
    /*border: 3px solid #384446;*/
    align-items: center;
    justify-content: center;
    margin: 40px 15px 0;
    border-radius: 20px;
    padding: 20px;
}
.favorit-section{
    display: inline-grid;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
}
.favorite-property {
    border: 2px solid #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;

}

.favorite-property img {
    width: 200px;
    height: 130px;
    margin-bottom: 10px;
}

.remove-favorite-btn {
    margin-top: 10px;
    width: 100%;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.remove-favorite-btn:hover{
    background-color: #239443;
}

/*-----------------*/